<div class="container-fluid  p-5 background-img" >
    <div class="container  background-white">
        <div class="row">
            <div class="col-6">
                <img src="assets/images/left-login.svg" class="ex" alt="login-image">
            </div>
            <div class="col-6 p-5">
                <!-- <form> -->
                    <div class="text-center">
                        <img src="assets/images/logo.svg"  alt="logo">
                    </div>
                    <label for="">Account Name</label>
                    <input type="text" class="form-control">
                    <label for="">Password</label>
                    <input type="text" class="form-control">
                    <div class="text-center">

                        <input type="button" (click)="login()" value="Login" class="login-btn">
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

</div>