.login-btn {
    background-color: #253274;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding: 5px 35px 5px 35px;
    margin-top: 10px;
}
.background-img {
    background-image: url("../../assets//images//Vector.png");
}
.background-white{
background-color: white;
}
.ex{
    width: 100%;
}
