.main-header {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 7px 20px 7px 0px;
}
.header-right {
    padding: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-right img {
    margin-right: 13px;
    width: 4%;
}
.header-left {
    padding: 5px 0px 5px 35px;
}
.header-left img {
    width: 10%;
}

// sidebar css
.left-sidebar {
    padding: 5px 20px 0px 20px;
    text-align: center;
}
.left-sidebar img {
    color: #0d1c2e;
    font-family: Poppins;
}
.nav-lists {
    list-style: none;
    padding: 0px 0px 0px 0px !important;
    text-align: left;

}
.nav-lists :hover {
    cursor: pointer;
    color: #305524 !important;
    background-color: #F2F7FF;
}
.list-items span {
    font-weight: 700;
    margin-left: 10px;
    color: #707c97;
    font-size: 13px;

}
.list-items img {
    width: 15%;
}
.list-items{
    margin-bottom: 18px;
}
// components

.child-components {
    background-color: #e5e5e5;

}

