<div class="container-fluid">
    <div class="row main-header">
        <div class="col-6 header-left">
            <img src="assets/images/logo.svg" alt="logo">

        </div>
        <div class="col-6 header-right">
            <img src="assets/images/bells.svg" alt="bell icon">
            <img src="assets/images/logout.svg" alt="logout icon">
        </div>
    </div>


    <!-- sidebar code -->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-2 left-sidebar">
                <div>
                    <img src="assets/images/user-photo.png" alt="">
                    <p>Henry bla bla</p>
                    <ul class="nav-lists">
                        <li class="list-items" (click)='analytics()'>
                            <img src="assets/images/dashboard-icon.svg">
                            <span>Dashboard</span>
                        </li>
                        <li class="list-items" (click)='eventList()'>
                            <img src="assets/images/profile-icon.svg">
                            <span>Create Event</span>
                        </li>
                        <li class="list-items">
                            <img src="assets/images/list-items-icon.svg">
                            <span>User</span>
                        </li>

                        <li class="list-items">
                            <img src="assets/images/mangement-icon.svg">
                            <span>Mangement Event</span>
                        </li>
                        <li class="list-items">
                            <img src="assets/images/list-items-icon.svg">
                            <span>Categories</span>
                        </li>
                        <li class="list-items">
                            <img src="assets/images/file.png">
                            <span>Account </span>
                        </li>
                        <li class="list-items">
                            <img src="assets/images/logout-ico.svg">
                            <span>Logout</span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-10 child-components">
                <div class="row card-size">
                    <div class="col-2">
                        <div class="text-center  cards">
                            <img src="assets/images/total-event.svg">
                            <p>Total Event</p>
                            <h4>754</h4>
                        </div>
                    </div>
            
                    <div class="col-2">
                        <div class="text-center  cards">
                            <img src="assets/images/ready_Event.svg">
                            <p>Ready to Event</p>
                            <h4>754</h4>
                        </div>
                    </div>
            
                    <div class="col-2">
                        <div class="text-center  cards">
                            <img src="assets/images/check_Print.svg">
                            <p>Checks to Print</p>
                            <h4>754</h4>
                        </div>
                    </div>
            
                    <div class="col-2">
                        <div class="text-center  cards">
                            <img src="assets/images/event_Paid.svg">
                            <p>Event paid </p>
                            <h4>754</h4>
                        </div>
                    </div>
            
                    <div class="col-2">
                        <div class="text-center  cards">
                            <img src="assets/images/pay_Event.svg">
                            <p>Pay event</p>
                            <h4>754</h4>
                        </div>
                    </div>
                </div>
                <!-- for child components -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- sidebar end -->

</div>