/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    // font-family:Poppins;
}

// cards

.card-size{
    padding: 20px 0px 10px 25px !important;

}
.cards {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0.25, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0.25, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0.25, 0.75);
    padding: 9px 0px 7px 0px;
}
.cards p {
    font-weight: 800;
    color: #3c3c3c;
    margin-top: 3px;
}
.cards h4 {
    font-weight: 800;
    color: #3c3c3c;
}
.cards img {
    width: 40%;
}