.table-backgoud {
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    text-align: left;
    padding: 0px 30px 20px 35px !important;

}
tr {
    border-bottom: 1px solid #919699;
}
td {
    padding: 5px 0px 5px 0px !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}
.event_list th {
    color: #919699;
    font-size: 12px;
    padding-top: 20px;
}
.event_list{
}