<div class="container-fluid ">
    <div class="row">
        <div class="col-11 table-backgoud">
            <table class="table event_list ">
                <tr>
                    <th>No.</th>
                    <th>Event Names</th>
                    <th>Total</th>
                    <th>User Type</th>
                    <th>Likes</th>
                    <th>Reject Event</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Event in Hotel Webinar</td>
                    <td>186</td>
                    <td>186</td>
                    <td>92</td>
                    <td>8</td>
                </tr>  <tr>
                    <td>1</td>
                    <td>Event in Hotel Webinar</td>
                    <td>186</td>
                    <td>186</td>
                    <td>92</td>
                    <td>8</td>
                </tr>  <tr>
                    <td>1</td>
                    <td>Event in Hotel Webinar</td>
                    <td>186</td>
                    <td>186</td>
                    <td>92</td>
                    <td>8</td>
                </tr>  <tr>
                    <td>1</td>
                    <td>Event in Hotel Webinar</td>
                    <td>186</td>
                    <td>186</td>
                    <td>92</td>
                    <td>8</td>
                </tr>  <tr>
                    <td>1</td>
                    <td>Event in Hotel Webinar</td>
                    <td>186</td>
                    <td>186</td>
                    <td>92</td>
                    <td>8</td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>

</div>