<div class="container-fluid">

    <div class="row">
        <div class="col-7 graph">
            <img src="assets/images/graphs.svg">

        </div>
        <div class="col-5 graph">
            <img src="assets/images/round_bar.png">

        </div>
    </div>
</div>